<p style="color: green"><%= notice %></p>
<%= button_to "log out", destroy_user_session_path, method: :delete  %>
<h1>Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Show this group", group %>
    </p>
  <% end %>
</div>

<%= link_to "New group", new_group_path %>
