  <%= form_with(model: expense) do |form| %>
    <% if expense.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

        <ul>
          <% expense.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.text_field :name, placeholder: "Name" %>
    </div>

    <div class="field">
      <%= form.text_field :amount, placeholder: "Amount" %>
    </div>
    <div class="select-container">
      <%= form.select :group_id, Group.all.collect {|group| [group.name, group.id]} %>
    </div>
    <div class="new-group-btn-container" >
      <%= form.submit %>
    </div>
  <% end %>
  